.sdl--admin {
  &__helper {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: hsl(210, 20%, 98%);

    border-bottom: 4px solid lightgray;

    .input {
      margin: 20px auto;
      button {
        margin: 5px 5px 5px 0;
      }
    }

    &--row {
      display: flex;
      flex-direction: row;
    }
  }

}

#editor-plain {
  padding: 5px;
}

.btn-highlighted {
  border: none;
  border-radius: 5px;
}

[data-color="blue"] {
  background: hsl(210, 85%, 69%);
}

[data-color="gray"] { 
  background: hsl(0, 0%, 76%);
}